In [1]:
import dataiku
import pandas as pd

In [2]:
split_date = dataiku.get_custom_variables()["split_date"]
split_date

u'2011-01-03'

In [3]:
# Example: load a DSS dataset as a Pandas dataframe
mydataset = dataiku.Dataset("Product_Aggregated_2")
df = mydataset.get_dataframe()

In [4]:
df.count()

stock_code           8295
week_of              8295
description_first    8295
year_first           8295
quantity_sum         8295
count                8295
dtype: int64

In [5]:
df1 = df[df.week_of >= split_date]
df1.head()

   stock_code    week_of             description_first  year_first  quantity_sum  count
10      10133 2011-08-15  Colouring Pencils Brown Tube        2011           205      7
11      10133 2011-08-22  Colouring Pencils Brown Tube        2011           215      7
18      11001 2011-08-01   Asstd Design Racing Car Pen        2011           384      1
23      15034 2011-04-25    Paper Pocket Traveling Fan        2011           432      4
24      15034 2011-05-02    Paper Pocket Traveling Fan        2011           492      2

In [6]:
df1.week_of.sort_values(ascending=True)

7269   2011-01-03
4114   2011-01-03
6468   2011-01-03
977    2011-01-03
1346   2011-01-03
3668   2011-01-03
3837   2011-01-03
457    2011-01-03
8138   2011-01-03
4065   2011-01-03
1003   2011-01-03
6286   2011-01-03
3657   2011-01-03
8240   2011-01-03
490    2011-01-03
1247   2011-01-03
1057   2011-01-03
2274   2011-01-03
4572   2011-01-03
4000   2011-01-03
4565   2011-01-03
7354   2011-01-03
7439   2011-01-03
4584   2011-01-03
3408   2011-01-03
6705   2011-01-03
6916   2011-01-03
3298   2011-01-03
2118   2011-01-03
7897   2011-01-03
7801   2011-01-03
7800   2011-01-03
309    2011-01-03
3790   2011-01-03
7266   2011-01-03
4970   2011-01-03
7788   2011-01-03
2505   2011-01-03
7488   2011-01-03
7980   2011-01-03
7186   2011-01-03
7226   2011-01-03
601    2011-01-03
8041   2011-01-03
5030   2011-01-03
4408   2011-01-03
2777   2011-01-03
2806   2011-01-03
7355   2011-01-10
2058   2011-01-10
5031   2011-01-10
1347   2011-01-10
2084   2011-01-10
6678   2011-01-10
8042   2011-01-10
3838   2011-01-10
6598   2011-01-10
602    2011-01-10
340    2011-01-10
885    2011-01-10
7727   2011-01-10
4115   2011-01-10
1201   2011-01-10
6400   2011-01-10
6500   2011-01-10
8139   2011-01-10
1908   2011-01-10
2807   2011-01-10
7643   2011-01-10
6303   2011-01-10
3409   2011-01-10
5219   2011-01-10
4158   2011-01-10
1050   2011-01-10
8251   2011-01-10
7053   2011-01-17
3190   2011-01-17
310    2011-01-17
7898   2011-01-17
5121   2011-01-17
2083   2011-01-17
3299   2011-01-17
3410   2011-01-17
1474   2011-01-17
5341   2011-01-17
4828   2011-01-17
7489   2011-01-17
6801   2011-01-17
6253   2011-01-17
7621   2011-01-17
8140   2011-01-17
4020   2011-01-17
7227   2011-01-17
4730   2011-01-17
5499   2011-01-17
978    2011-01-17
6973   2011-01-17
6793   2011-01-17
4116   2011-01-17
2808   2011-01-17
5277   2011-01-24
311    2011-01-24
3300   2011-01-24
1785   2011-01-24
5342   2011-01-24
          ...
6087   2011-12-05
6067   2011-12-05
6054   2011-12-05
6039   2011-12-05
1265   2011-12-05
4795   2011-12-05
6000   2011-12-05
5984   2011-12-05
2918   2011-12-05
7398   2011-12-05
5942   2011-12-05
5919   2011-12-05
2926   2011-12-05
2927   2011-12-05
7452   2011-12-05
5898   2011-12-05
5888   2011-12-05
1173   2011-12-05
1172   2011-12-05
5881   2011-12-05
6143   2011-12-05
6149   2011-12-05
1558   2011-12-05
6174   2011-12-05
2006   2011-12-05
6763   2011-12-05
2180   2011-12-05
6716   2011-12-05
6958   2011-12-05
6542   2011-12-05
7044   2011-12-05
1904   2011-12-05
1898   2011-12-05
1891   2011-12-05
1890   2011-12-05
3004   2011-12-05
2377   2011-12-05
1802   2011-12-05
2897   2011-12-05
2905   2011-12-05
2908   2011-12-05
1749   2011-12-05
6195   2011-12-05
6191   2011-12-05
6188   2011-12-05
6181   2011-12-05
1651   2011-12-05
1616   2011-12-05
1860   2011-12-05
4450   2011-12-05
5868   2011-12-05
3034   2011-12-05
3589   2011-12-05
5543   2011-12-05
5533   2011-12-05
3929   2011-12-05
3934   2011-12-05
3975   2011-12-05
4016   2011-12-05
4023   2011-12-05
4074   2011-12-05
5506   2011-12-05
4081   2011-12-05
4082   2011-12-05
631    2011-12-05
4167   2011-12-05
562    2011-12-05
5462   2011-12-05
5458   2011-12-05
5441   2011-12-05
7944   2011-12-05
4242   2011-12-05
4317   2011-12-05
4369   2011-12-05
5381   2011-12-05
3588   2011-12-05
3587   2011-12-05
3586   2011-12-05
3583   2011-12-05
5850   2011-12-05
3036   2011-12-05
7518   2011-12-05
3058   2011-12-05
1107   2011-12-05
3077   2011-12-05
5811   2011-12-05
3097   2011-12-05
3116   2011-12-05
7543   2011-12-05
5789   2011-12-05
5867   2011-12-05
7560   2011-12-05
3336   2011-12-05
3337   2011-12-05
3352   2011-12-05
5703   2011-12-05
3372   2011-12-05
3451   2011-12-05
3460   2011-12-05
3544   2011-12-05
5659   2011-12-05
3560   2011-12-05
5630   2011-12-05
5730   2011-12-05
8294   2011-12-05
Name: week_of, Length: 3772, dtype: datetime64[ns]

In [7]:
df1.count()

stock_code           3772
week_of              3772
description_first    3772
year_first           3772
quantity_sum         3772
count                3772
dtype: int64